<div class="root-wrapper">
  <ul class="nav nav-tabs tabs-jt">
    <li><a routerLink="prem-category" routerLinkActive="active">Premium Category</a></li>
    <li><a routerLink="prem-sub-category" routerLinkActive="active">Prem. Sub Category</a></li>
    <li><a routerLink="aam-tag" routerLinkActive="active">AAM Tag</a></li>
    <li><a routerLink="magazine" routerLinkActive="active">Magazine</a></li>
    <li><a routerLink="component" routerLinkActive="active">Component</a></li>
  </ul>
  <div class="outlet-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
