<div class="row node-wrapper">
  <div class="col-sm-12 col-md-2">
    <ul class="sidebar-nav">
      <li class="active" data-toggle="tab" attr.data-target="#sch-overview-{{id}}">Overview</li>
      <li data-toggle="tab" attr.data-target="#sch-workflow-{{id}}">Workflow</li>
      <li data-toggle="tab" attr.data-target="#sch-roles-{{id}}">Roles</li>
      <li data-toggle="tab" attr.data-target="#sch-bkp-comp-{{id}}">Backup Components</li>
      <li data-toggle="tab" attr.data-target="#sch-current-ver-{{id}}">Current Versions</li>
      <li data-toggle="tab" attr.data-target="#sch-ver-history-{{id}}">Version History</li>
      <li data-toggle="tab" attr.data-target="#sch-workflow-log-{{id}}">Workflow Log</li>
      <li data-toggle="tab" attr.data-target="#sch-error-{{id}}">Error</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-10">
    <div class="tab-content tab-jt">
      <div id="sch-overview-{{id}}" class="tab-pane active">
        Overview
      </div>
      <div id="sch-workflow-{{id}}" class="tab-pane">
        Workflow
      </div>
      <div id="sch-roles-{{id}}" class="tab-pane">
        Roles
      </div>
      <div id="sch-bkp-comp-{{id}}" class="tab-pane">
        Backup Components
      </div>
      <div id="sch-current-ver-{{id}}" class="tab-pane">
        Current Versions
      </div>
      <div id="sch-ver-history-{{id}}" class="tab-pane">
        Version History
      </div>
      <div id="sch-workflow-log-{{id}}" class="tab-pane">
        Workflow Log
      </div>
      <div id="sch-error-{{id}}" class="tab-pane">
        Error
      </div>
    </div>
  </div>
</div>
