<div class="row node-wrapper">
  <div class="col-sm-12 col-md-2">
    <ul class="sidebar-nav">
      <li class="active" data-toggle="tab" attr.data-target="#appr-overview-{{id}}">Overview</li>
      <li data-toggle="tab" attr.data-target="#appr-current-ver-{{id}}">Current Versions</li>
      <li data-toggle="tab" attr.data-target="#appr-ver-history-{{id}}">Version History</li>
      <li data-toggle="tab" attr.data-target="#appr-roles-{{id}}">Roles</li>
      <li data-toggle="tab" attr.data-target="#appr-error-{{id}}">Error</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-10">
    <div class="tab-content tab-jt">
      <div id="appr-overview-{{id}}" class="tab-pane active">
        Overview
      </div>
      <div id="appr-current-ver-{{id}}" class="tab-pane">
        Current Versions
      </div>
      <div id="appr-ver-history-{{id}}" class="tab-pane">
        Version History
      </div>
      <div id="appr-roles-{{id}}" class="tab-pane">
        Roles
      </div>
      <div id="appr-error-{{id}}" class="tab-pane">
        Error
      </div>
    </div>
  </div>
</div>
